<html id="html">

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body id="body">
    <header>
        <h1>About Page</h1>
    </header>
    <div>
        <a href="/home">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    <img src="/img/profile.jpg" id="img">
    <footer>
        <p>Created by Jacob selva Prince</p>
    </footer>
</body>

</html>