header {
    color: red;
}

a {
    color: gray;
    text-decoration: none;
    padding-right: 15px;
}

div {
    margin-bottom: 16px;
}

footer {
    margin-top: 16px;
    border-top: 1px black solid;
    color: gray;
}

input {
    margin-top: 15px;
}

button{
    cursor: pointer;
}